<div class="vh-100 wh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="border border-dark border-opacity-50 rounded-5 p-5 text-center">
      <h1 class="fw-bold">PCIU</h1>
      <h5 class="text-secondary">LOGIN</h5>
      <p>Mude sua senha</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "Nova senha:", class: 'fs-6 fw-semibold ms-2 mb-2' %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" , class: "form-control rounded-pill border border-2" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirme a nova senha:" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control rounded-pill border border-dark border-opacity-50" %>
        </div>

        <div class="actions">
          <%= f.submit "Mudar minha senha" , class: "btn btn-dark mt-2"%>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>

    </div>
</div>
