<%= form_for @comunicado.comentarios.new, url: comunicado_comentario_path(id: @comentario.id) do |form| %>
    <div class="field">
        <%= form.label :seu_comentário %><br>
        <%= form.text_field :corpo, class: "form-control" %>
        <%= form.hidden_field :comunicado_id, value: @comunicado.id %>
        <br>
    </div>
    <div class="mb-1">
        <%= form.submit "Enviar", class: "btn btn-dark"%>
    </div>
<% end %>