<div class="row">
    <div class='col-sm-4 text-center'>
        <h2><%= link_to "Meus Comunicados", root_path, class: "nav-link mb-3 bg-secondary bg-opacity-10 border border-secondary border-opacity-10 rounded-pill p-3 m-2" %></h2>
        <% if current_usuario.tipo == 'Professor' %>
            <h2><%= link_to "Criar Comunicado", criar_comunicado_path, class: "nav-link mb-3 border border-secondary border-opacity-10 rounded-pill p-3 m-2" %></h2>
        <% end %>
    </div>
    <div class='col-sm-8'>
        <% @comunicados.each do |comunicado| %>
            <div class="container card mb-5 border-secondary">
                <div class="card-body">
                    <h3 class= "card-tittle"><%= comunicado.titulo %></h3>
                    <p class="card-text text-secondary"><%= comunicado.corpo %></p>
                     <% if current_usuario.tipo == 'Professor' %>
                        <%= button_to  "Excluir comunicado",excluir_comunicado_path(id: comunicado.id), method: :delete, class:"btn btn-default"%>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>